.btn {
  display: block;
  background-color: #333;
  color: #f3f3f3;
  text-align: center;
  margin: 0 auto;
  width: 150px;
  padding: 12px;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #ffbb32;
  transition: 0.5s;
}
